/* h1{
    background-color: rgb(86, 0, 148);
    color: white;
    border: 2px solid black;
}


@media (min-width: 400px) {
    h1{
        background-color: paleturquoise;
    }
}
 */

 h1{
    text-align: center;
    color: rgb(194, 110, 0);
    background-color: aliceblue;
    border: 2px solid black;
 }
